<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.mapper.CardMapper" >
  <resultMap id="BaseResultMap" type="com.zz.model.Card" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nature" property="nature" jdbcType="VARCHAR" />
    <result column="race" property="race" jdbcType="VARCHAR" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zz.model.Card" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into card (name, nature, race, 
      explain)
    values (#{name,jdbcType=VARCHAR}, #{nature,jdbcType=VARCHAR}, #{race,jdbcType=VARCHAR}, 
      #{explain,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zz.model.Card" >
    update card
    set name = #{name,jdbcType=VARCHAR},
      nature = #{nature,jdbcType=VARCHAR},
      race = #{race,jdbcType=VARCHAR},
      explain = #{explain,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, nature, race, explain
    from card
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, nature, race, explain
    from card
  </select>
</mapper>